body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
    margin: 0;
}
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}




.main-header {
    background-color: black;
    color: rgb(255, 255, 255);
    height: 40px;
    display: flex;
    align-items: center;
}
.main-header a {
    color: inherit
}

.main-header .container {
    display: flex;
    justify-content: space-between;
}




.main-content {
    flex-grow:1;
    border: 3px solid red
}
.main-content .sidebar {
    background-color: aqua;
}
.main-content .content {
    background-color: darkseagreen;
}

.main-content .container {
    display: flex;
    flex-direction: column-reverse;
}



.footer-nav {
    display: flex;
    flex-direction: column;
}
.footer-nav .col {
    flex-grow: 1;
}





@media (min-width: 992px) {
    .container {
        width: 900px;
    }
    .main-content .container {
        flex-direction: row;
    }
    .main-content .sidebar {
        width: 30%;
    }
    .main-content .content {
        width: 70%;
    }
    .footer-nav {
        flex-direction: row;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1200px;
    }
}